name = "scorekeep-web-dispatch"

compatibility_date = "2025-01-29"

main = "build/output/dispatch.js"

workers_dev = false

[[routes]]
pattern = "scorekeep.watch"
custom_domain = true

[[routes]]
pattern = "scorekeep.lemon.tools"
custom_domain = true

[build]
command = ""

[[r2_buckets]]
binding = "APP_ASSETS"
bucket_name = "scorekeep-web-assets"

[[dispatch_namespaces]]
binding = "SCOREKEEP_VERSIONS"
namespace = "scorekeep-web-versions"

[[services]]
binding = "SHARE_MATCH"
service = "scorekeep-web-share-match"
entrypoint = "ShareMatchService"

[version_metadata]
binding = "CLOUDFLARE_VERSION_METADATA"
